<div class ="row">
	<img href="">
	<h1> <%= @startup.company_name %> </h1>
	<section class ="col-md-8">
		<article>
				<h3> Description </h3>
			 		<p> Bacon ipsum dolor sit amet flank biltong tenderloin turkey leberkas tail brisket pork loin short ribs pork chop. Prosciutto corned beef fatback beef, shank drumstick cow. 	 Pork loin sausage beef ribs sirloin. Kielbasa short loin bacon swine pancetta ribeye ham chuck jowl. Swine rump jerky shankle. Pastrami spare ribs biltong beef sirloin andouille. Turducken bresaola pastrami ribeye.
			 		</p>
		</article>
		<article>
			<h3> Milestones </h3>
				<p>Bacon ipsum dolor sit amet flank biltong tenderloin turkey leberkas tail brisket pork loin short ribs pork chop. Prosciutto corned beef fatback beef, shank drumstick cow. Pork loin sausage beef ribs sirloin. Kielbasa short loin bacon swine pancetta ribeye ham chuck jowl. Swine rump jerky shankle. Pastrami spare ribs biltong beef sirloin andouille. Turducken bresaola pastrami ribeye.
				</p>
		</article>
		<article> 
			<h3> Funding </h3>
				<p>Bacon ipsum dolor sit amet flank biltong tenderloin turkey leberkas tail brisket pork loin short ribs pork chop. Prosciutto corned beef fatback beef, shank drumstick cow. Pork loin sausage beef ribs sirloin. Kielbasa short loin bacon swine pancetta ribeye ham chuck jowl. Swine rump jerky shankle. Pastrami spare ribs biltong beef sirloin andouille. Turducken bresaola pastrami ribeye.
				</p>
		</article>
		<article>
			<h3> Press </h3>
			<p>Bacon ipsum dolor sit amet flank biltong tenderloin turkey leberkas tail brisket pork loin short ribs pork chop. Prosciutto corned beef fatback beef, shank drumstick cow. Pork loin sausage beef ribs sirloin. Kielbasa short loin bacon swine pancetta ribeye ham chuck jowl. Swine rump jerky shankle. Pastrami spare ribs biltong beef sirloin andouille. Turducken bresaola pastrami ribeye.
			</p>
		</article>
	</section>
	<section class="col-md-4">
		<h3> Founded in <%= @startup.year_founded %> </h3>
		<h3> Category </h3>
		<article>
			<h3> People </h3>
			<p> Steve Kwon </p>
		</article>
		<article>
			<h3> Advisors </h3>
			<p> Tim Cheadle </p>
		</article>
	</section>
</div>


